.menu {
  position: absolute;
  top: 20px;
  right: 10%;
  display: flex;
  align-items: center;
}

.icon {
  text-decoration: none;
  margin: 0 7px;
}
.icon:hover {
  transform: scale(1.1);
}

.btn-meus-links {
  background-color: #fff;
  color: #132742;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 14px;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;
}
.btn-meus-links:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

@media (max-width: 730px) {
  .menu {
    left: auto;
    right: auto;
  }
}
