.links-container {
  width: 85%;
  max-width: 1120px;
  margin: 32px auto 0 auto;
}

.links-header {
  display: flex;
  flex-direction: row;
}

.links-header svg {
  margin-right: 14px;
  transition: 0.3s;
  border-radius: 50%;
}
.links-header svg:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.links-header h1 {
  color: #fff;
  margin-bottom: 25px;
}

.links-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
}

.links-item:last-child {
  margin-bottom: 18px;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  height: 46px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  padding: 0 14px;
  margin-right: 14px;
}

.link svg {
  margin-right: 14px;
}

.link-delete {
  background-color: transparent;
  border: 0;
}

.empty-text {
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 730px) {
  .links-header svg {
    width: 30px;
  }

  .links-header h1 {
    font-size: 1.8rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .link svg {
    display: none;
  }
}
